NEXT_PUBLIC_NEXTCLOUD_ROOT_CMS=/Websites/metaprovide.org
NEXT_PUBLIC_NEXTCLOUD_CONNECT_URL=https://space.metaprovide.org/remote.php/webdav
NEXT_PUBLIC_NEXTCLOUD_USER=user
NEXT_PUBLIC_NEXTCLOUD_PASSWORD=password123
NEXT_PUBLIC_MAIL_HOST=mail.runbox.com
NEXT_PUBLIC_MAIL_ADDRESS=example@mail.com
NEXT_PUBLIC_MAIL_PASSWORD=password456
NEXT_PUBLIC_SENDINBLUE_API_KEY=123123123