.form-text {
  color: var(--grey-600-color);
}

#sib-form-container {
  width: 600px;
  margin: 0 auto;
  font-family: "Lato", sans-serif !important;
}

#sib-container {
  width: 100%;
  padding: 0;
}

.sib-form {
  padding: 0;
}

.form-feedback-wrapper {
  display: flex;
  justify-content: center;
  width: auto;
}

button:disabled,
button[disabled]{
  background-color: var(--grey-500-color) !important;
}