{{ define "main" }}
<section class="hero-image max-w-100vw min-h-100vh">
    <div class="hero-header">
        <h1><b>Platforms</b> built for you to keep.<br>
            Your platform - your data.<br>
            <b>Decentralised</b>.
        </h1>

        <p class="hero-text" style="max-width: 80%;">{{ .Params.heroSubHeader }}</p>
    </div>
</section>
<section class="little-bit-more-section">
    <div class="max-w-content">
    <h2 class="mb-16">Get to know a little bit more about MetaProvide</h2>

    <div class="max-w-content three-columns gap-24 mb-32 mobile-one-column">
        <div class="flex-column align-center">
            <div style="max-height: 250px; max-width: 250px;">
                <img src="{{ "images/tag_trans.png" | relURL }}" alt="tag icon">
            </div>
            <h3>Professional and Technical Expertise</h3>
            <p>As an open-source contributor to Nextcloud over the years with thousands of servers utilising MetaProvide
                ‘s tools, MetaProvide has the proven technical expertise to support organisations as they transition
                from
                data dependency to data sovereignty.</p>
        </div>
        <div class="flex-column align-center">
            <div style="max-height: 250px; max-width: 250px;">
                <img src="{{ "images/bar_trans.png" | relURL }}" alt="bar icon">
            </div>
            <h3>Vision for increasing decentralisation</h3>
            <p>From a foundation of proven supported self-hosting security and a commitment to deepening Swarm
                integration, MetaProvide offers a safe and secure way for organisations to increasingly embrace the web3
                data economy.</p>
        </div>
        <div class="flex-column align-center">
            <div style="max-height: 250px; max-width: 250px;">
                <img src="{{ "images/rocket_trans.png" | relURL }}" alt="rocket icon">
            </div>
            <h3>Positioned to serve a growth sector</h3>
            <p>As data autonomy and security increasingly becomes a critical priority for organisations large and small,
                MetaProvide is positioning to become the trusted provider of decentralised
                data collaboration platforms.</p>
        </div>
    </div>
</div>
</section>

<section class="video-section">
    <h2>MetaProvide Introduction Video</h2>
    <div class="max-w-content video-wrapper">
        <video src="https://cdn-1f571.kxcdn.com/assets/videos/METAPROVIDE_22-09-v2.mp4" preload="metadata" controls=""
            controlslist="nodownload"></video>
    </div>
</section>


<section class="pb-64 pt-32">
    <h2>Our Testimonials</h2>
    <div class="gap-36 max-w-content two-columns mobile-one-column">
        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/Viktor.png" | relURL }}" alt="#">
            <div class="flex-column mb-16">
                <h4>Viktor Tron - Founder and Team Lead at Ethereum Swarm</h4>
                <quote>
                    "MetaProvide is an organisation aimed at bringing professional benevolent services to a world in
                    great
                    need of such. [...] The services MetaProvide set out to build to foster these goals offer the
                    promise of
                    profitability. Their roadmap is viable, their business plan is sound."
                </quote>
            </div>
        </div>
        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/gregor.png" | relURL }}" alt="#">
            <div class="flex-column mb-16">
                <h4>Gregor Žavcer - Director Swarm Foundation</h4>
                <quote>“MetaProvide delivers high-quality solutions. Their technical knowledge and supportive assistance
                    exceeded our expectations. They took the time to listen and truly comprehend our requirements,
                    setting the
                    stage for a successful collaboration. I recommend MetaProvide to any organisation seeking quality IT
                    and
                    development services."</quote>
            </div>
        </div>
        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/henry.png" | relURL }}" alt="Henry Bergstrom">
            <div class="flex-column mb-16">
                <h4>Henry Bergström - Tech Lead at MetaProvide</h4>
                <quote>"We are committed to delivering high-quality solutions that are open source and are
                    prepared for the Web3 paradigm. I recommend MetaProvide to any organisation in need of
                    having their own IT infrastructure, especially to those with an interest in Web3. Together, we can
                    make
                    a safer and fairer internet for all."</quote>
            </div>
        </div>

        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/Mirco.png" | relURL }}" alt="Mirko Da Corte">
            <div class="flex-column">
                <h4>Mirko Da Corte - CEO at Etherna</h4>
                <quote>"A new kind of society, based on new economics concept needs to arise, and these concept are all
                    about cooperation and interoperability about services and decentralized data.”</quote>
            </div>
        </div>

        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/matheuw.png" | relURL }}" alt="Matthew McArthur">
            <div class="flex-column">
                <h4>Matthew McArthur - Mindful Design</h4>
                <quote>“Decentralised data and collaboration platforms create community and alleviate silos, we all need
                    this for a more ethical, productive world.”
                </quote>
            </div>
        </div>

        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/Michal Matlon.png" | relURL }}" alt="Michal Matlon">
            <div class="flex-column">
                <h4>Michal Matlon - theLivingCore</h4>
                <quote>"A brave attempt at decentralizing organizational software suites!”</quote>
            </div>
        </div>

        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/aleksandr.png" | relURL }}" alt="Alexandr Shedogubov">
            <div class="flex-column mb-16">
                <h4>Alexandr Shedogubov - Envelop</h4>
                <quote>“Nice to see more and more decentralized tools for everyday work to appear. Guys doing a good
                    job”
                </quote>
            </div>
        </div>

        <div class="flex-row flex-nowrap align-center gap-36 mobile-flex-column">
            <img class="testamonial-image" src="{{ "images/Philippe Perou.png" | relURL }}" alt="Philippe Perou">
            <div class="flex-column">
                <h4>Philippe Perou - Kredeum</h4>
                <quote>“Web 2 ended up replicating the constraints of the real world, while Web 3 gives us the
                    opportunity
                    to reflect on it... it's up to us to make something different out of it... :)"</quote>
            </div>
        </div>
    </div>
</section>

<section class="what-is-swarm-section">
    <h2>What is Swarm / Swarm Partners</h2>
    <div class="max-w-content">
        <div class="max-w-100p swarm-logo-wrapper">
            <img style="max-height: 500px; margin: -124px 0px" class="rotate90" src="{{ "images/SwarmLogo.svg" | relURL }}"
                alt="logo of swarm">
        </div>
        <p>Swarm is a peer-to-peer network of Bee Nodes that collectively provide censorship-resistant decentralised
            storage and communication services. Swarm's mission is to shape the future towards a self-sovereign global
            society and permissionless open markets by providing scalable base-layer data storage infrastructure for the
            decentralised internet. Its incentive system is enforced through smart contracts on the Gnosis Chain
            blockchain
            and powered by the xBZZ token, making it economically self-sustaining.
        </p>
        <div class="three-columns max-w-content m-auto justify-between align-center mobile-one-column">
            <img style="max-height: 200px; justify-self: center" class="rotate90 max-w-200"
                src="{{ "images/The Living Core Logo.svg" | relURL }}" alt="log1">
            <img style="max-height: 200px; justify-self: center" class="rotate90 max-w-200" src="{{ "images/Envelop Logo.svg" | relURL }}"
                alt="log2">
            <img style="max-height: 100px;" src="{{ "images/Company3 Logo.svg" | relURL }}" alt="log3">
        </div>
    </div>
</section>

<section class="pt-32">
    <h2>Latest Blogs</h2>
    <div class="three-columns gap-8 max-w-content mobile-one-column">
        {{ range (where site.RegularPages "Section" "blog" | first 3) }}
        <div class="block-hover p-8">
            <a href="{{ .Permalink }}">
                <img class="object-fit-cover" src="{{ .Params.mainImage }}" alt="{{ .Title }}" />
                <h3>{{ .Title }}</h3>
                <p>{{ .Date.Format "January 2006" }}</p>
            </a>
        </div>
      {{ end }}
    </div>
</section>
{{ end }}