<nav>
    <input class="checkbox" type="checkbox" name="" id="" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <div class="logo-wrapper mr-16">
      <img src="{{ "images/logos/metaprovide-logo-2024.png" | relURL }}" alt="MetaProvide logotype" />
    </div>
    <ul class="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/team">Team</a></li>
      <li class="nav-item"><a href="/hejbit">HejBit</a></li>
      <li class="nav-item"><a href="/contact">Contact</a></li>
      <li class="nav-item"><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  